In [9]:
# print practice
print(123)
print(10.7)
print("ali")
print("muddassir","ali","rana")
print(23,45,76)
print(2.9,78.3,89.0)

print("ali")

print("hamza")

123
10.7
ali
muddassir ali rana
23 45 76
2.9 78.3 89.0
ali
hamza

In [17]:
# seprator use
print("hamza","ali","fahad",sep="") # in sep no space
print("rana","anas","ameen", sep="####") # in sep symbol
print("rana","anas","ameen", sep="  ")  # in sep double  space
print("rana","anas","ameen", sep="??//") # in sep synmbol

hamzaalifahad
rana####anas####ameen
rana  anas  ameen
rana??//anas??//ameen

In [40]:
# without end ="" use normal printing
print("muddassir ali rana")
print("muddassir ali rana")
print("muddassir ali rana")

# with end="" use

print("muddassir ali rana", end="") #no use koi bhi cheez no space
print("muddassir ali rana")

print("muddassir ali rana", end="\n\n\n") # line breake
print("muddassir ali rana",end="\n\n\n")
print("muddassir ali rana")


print("muddassir ali rana", end="\t\t") # tab space ajaye ga double
print("muddassir ali rana", end="\n")
print("muddassir\r ali rana")
print("muddassir\'\' ali rana")
print("muddassir\# ali rana")
print("muddassir ali\\ rana")
print("muddassir ali\f rana")

muddassir ali rana
muddassir ali rana
muddassir ali rana
muddassir ali ranamuddassir ali rana
muddassir ali rana


muddassir ali rana


muddassir ali rana
muddassir ali rana		muddassir ali rana
 ali rana
muddassir'' ali rana
muddassir\# ali rana
muddassir ali\ rana
muddassir ali rana

In [47]:
#oprator example practice

print(2+2) # addition simple
print(3-2) # subtract simple
print(3*2) # multiply simple
print(20/2) # divede hamesha flote mai result dega apna python mai

# 2nd way
a=10
b=5
c=a+b
print(c)

#3rd way
value1 =9
value2=5
sum=value1+value2
sub=value1-value2
mul=value1*value2
div=value1/value2
mod=value1%value2

print(sum)
print(sub)
print(mul)
print(div)
print(mod)

4
1
6
10.0
15
14
4
45
1.8
4

In [1]:
#variable practice
a=10
print(a)

value1=10
value2=8
sum=value1+value2
print(sum)

b="ali"
print(b)

c=19.3
print(c)

#type(a)
#type(b)
type(c)

name="muddassir"
lname="rana"   # string plus nahi cocatnate hote hain
print(name+  lname)

10
18
ali
19.3
muddassirrana

# list

In [7]:
#list practice
name=["rana","ali","ahmed","sultan","ertugvral"]  #list by string

num=[1,2,3,4,5,6,7,8,9,0] #list by integer
float=[1.2,34.6,7.6,8.0,22.22,2.3] #list by float number

mix=["ali",22,5.7,"rana"] #lis by mix data type

#print all list
print(name)
print(num)
print(float)
print(mix)
print(num[3])
len(name) # this fuction use for check list lenghth

['rana', 'ali', 'ahmed', 'sultan', 'ertugvral']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[1.2, 34.6, 7.6, 8.0, 22.22]
['ali', 22, 5.7, 'rana']
4

5

In [11]:

name.append("muddassir")  #this list funtion append use for add a member of list it is add the num in the end of the list
name

['rana',
 'ali',
 'ahmed',
 'sultan',
 'ertugvral',
 'muddassir',
 'muddassir',
 'muddassir',
 'muddassir']

In [13]:
num.clear() # this list opration use for clear the list fully permenental never recover data if this use
num

[]

In [14]:
num=[1,2,3,4,5,6,7,8,9,0,11,12,13,14,15] #again data input in num

In [16]:
name2=name.copy() # this list opration use for copy the list 
name

['rana',
 'ali',
 'ahmed',
 'sultan',
 'ertugvral',
 'muddassir',
 'muddassir',
 'muddassir',
 'muddassir']

In [17]:
name2 # ceck list coppied k waqiye copy ban gayi hai ya nahi

['rana',
 'ali',
 'ahmed',
 'sultan',
 'ertugvral',
 'muddassir',
 'muddassir',
 'muddassir',
 'muddassir']

In [18]:
name.count("muddassir") #this list opration  is used to check member legnth of list

4

In [20]:
name.extend(["shamshad","irshad","hamza"]) #this list opration is used to multyple number of data add the list
name

['rana',
 'ali',
 'ahmed',
 'sultan',
 'ertugvral',
 'muddassir',
 'muddassir',
 'muddassir',
 'muddassir',
 'shamshad',
 'irshad',
 'hamza',
 'shamshad',
 'irshad',
 'hamza']

In [22]:
name.index("ali") # this opration check the index number of member in the list

1

In [24]:
num.insert(2,"ali") # this opration use to add member in the list with targeted location
num

[1, 2, 'ali', 'ali', 3, 4, 5, 6, 7, 8, 9, 0, 11, 12, 13, 14, 15]

In [32]:
name.remove("ahmed") #this opratoe use to remove the member of list
name

['rana',
 'sultan',
 'ertugvral',
 'shamshad',
 'irshad',
 'hamza',
 'shamshad',
 'irshad',
 'hamza']

In [33]:
num.reverse() # this oprator is use to revers all list 
num

[15, 14, 13, 12, 11, 0, 9, 8, 7, 6, 5, 4, 3, 'ali', 'ali', 2, 1]

In [34]:
del num[2] # del use to member by index number
num

[15, 14, 12, 11, 0, 9, 8, 7, 6, 5, 4, 3, 'ali', 'ali', 2, 1]

In [36]:
name.sort() # this oprator use to maintain series by correct way sorting list
name

['ertugvral',
 'hamza',
 'hamza',
 'irshad',
 'irshad',
 'rana',
 'shamshad',
 'shamshad',
 'sultan']

In [37]:
print(name[1:5])

['hamza', 'hamza', 'irshad', 'irshad']

In [40]:
num[0:6] #slicing metthod

[0, 3, 4, 5, 6, 7]

In [47]:
num=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [49]:
float[1:3]

[34.6, 7.6]

In [50]:
float

[1.2, 34.6, 7.6, 8.0, 22.22]

# no=[1,2,3,4,5,6,7,8,9,0]

In [53]:
no[1:9:2] #slicing step name[start:end:gap]

[2, 4, 6, 8]

# tupple

In [56]:
#tupple

name=("ali","ran","mudi") #this tupple it is imutable no vhange delte etc

In [59]:
name

('ali', 'ran', 'mudi')

# if_statement

In [61]:
a=10
b=15
if a<b:
    print("this is write")
    print("task complete")
if a>b:
    print("false")
    print ("tasl complete")

this is write
task complete