# for loops

In [3]:
for a in range(10): # print name 10 time in the using of for loop
    print("ali")

ali
ali
ali
ali
ali
ali
ali
ali
ali
ali

In [4]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [5]:
for num in range (1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [6]:
for num in range (1,12,2):
    print(num)

1
3
5
7
9
11

In [10]:
for num in range (14,1,-2):
    print(num)

14
12
10
8
6
4
2

In [19]:
names=["ali","rana","mudi","fahda"]

In [21]:
names

['ali', 'rana', 'mudi', 'fahda']

In [2]:
for name in range (2):
    print(name)

0
1

In [23]:
for name in names:
    print("a name is {name}")

a name is {name}
a name is {name}
a name is {name}
a name is {name}

In [24]:
number=[11,22,43,54,43,44,13]
number

[11, 22, 43, 54, 43, 44, 13]

In [25]:
for num in number:
    print(num)

11
22
43
54
43
44
13

In [29]:
for name in names:
    print(name)

ali
rana
mudi
fahda

In [34]:
country="pakistan","india"
for char in country:
    print(char)

pakistan
india

In [35]:
#loop break

for num in range (13):
    if num==5:
        break
    print(num)

0
1
2
3
4

In [38]:
for num in [13,5,7,9,14]:
    if num %3!=1:
        break
    print(num)

13

In [41]:
#continue keyword
for num in range(11):
    if num==3 or num==8:
        continue
    print(num)

0
1
2
4
5
6
7
9
10