In [1]:
tables=int(input("enter a table no"))
for table in range(1,tables+1):
    for num in range(1,11):
        print(f"{table}*{num}={table*num}")

enter a table no3
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [1]:
table=int(input("enter a num"))
for a in range (1,11):
    print(f"{table}*{a}={table*a}")

enter a num2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [8]:
for a in range (3):
    for char in "ali":
        print(a,char)

0 a
0 l
0 i
1 a
1 l
1 i
2 a
2 l
2 i

In [1]:
table=int(input("enter a num"))
for a in range (1,11):
    print(f"{table}*{a}={table*a}")

enter a num3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30