# print

In [1]:
print(123) #integer no print

123

In [2]:
print("muddassir ali rana") # string word print

muddassir ali rana

In [3]:
print(20.56) #float no print

20.56

In [4]:
print(20,30,40.3,"ali","rana",22) #one and more value combination

20 30 40.3 ali rana 22

In [13]:
print("muddassir","ali","rana" ,sep="") # seprator fun use difrent categories
print("muddassir","ali","rana" ,sep=" ")
print("muddassir","ali","rana" ,sep="##")
print("muddassir","ali","rana" ,sep="__")

muddassiralirana
muddassir ali rana
muddassir##ali##rana
muddassir__ali__rana

In [23]:
print("muddassir ali rana", end="\t")
print("muddassir ali rana", end="\'") #use end escap charachter
print("muddassir ali rana", end="\#")
print("muddassir ali rana")

muddassir ali rana	muddassir ali rana'muddassir ali rana\#muddassir ali rana

# variable

In [24]:
a= 10 # intialize vale
print(a)  # get value

10

In [37]:
b=20.89
print(b)

20.89

In [31]:
stu_name="muddassir ali"
f_name=" shamshad"
c=stu_name +   f_name
#print(stu_name +   f_name)
print(c)

muddassir ali shamshad

In [40]:
type(a)
 # chech data type of variable

int

In [38]:
type(b)

float

In [36]:
type(c)

str

In [39]:
v=10,20
print(v)  # save in more value in variable

(10, 20)

# math oprator

In [41]:
#addition
value_1=20
value_2=30
result=value_1 + value_2
print(result)

50

In [42]:
#subtraction
value_1=20
value_2=30
result=value_1 - value_2
print(result)

-10

In [43]:
#multiplication
value_1=20
value_2=30
result=value_1 * value_2
print(result)

600

In [44]:
#division result in always in float
value_1=20
value_2=30
result=value_1 / value_2
print(result)

0.6666666666666666

# if statemnet

In [61]:
a= 1
b=5
if a<b:
    print("a is less than b")
if b<a:
        print("b is less than a")
print("pakistan")

a is less than b
pakistan

# input

In [2]:
print("use input function")
input("please text here")

use input function
please text heremuddassir alu

'muddassir alu'

# list

In [4]:
name=["muddassir","ali","rana","fahad","waqas"]
num=[1,2,3,4,5,6,7,8,9]
float_list=[20.3,4.6,0.9]
mix_list=[1,2,"shamshad",2.6,"pakistan"]

In [5]:
len(name) # check length of list

5

In [6]:
name.append("indus") # for use in adding element in list

In [7]:
print(name)

['muddassir', 'ali', 'rana', 'fahad', 'waqas', 'indus']

In [8]:
name.insert(2,"uni")# this function use for adding element with index

In [9]:
print(name)

['muddassir', 'ali', 'uni', 'rana', 'fahad', 'waqas', 'indus']

In [10]:
name.extend(["ami","abu","bhai"])  # multiple element add karwany k liye

In [11]:
print(name)

['muddassir', 'ali', 'uni', 'rana', 'fahad', 'waqas', 'indus', 'ami', 'abu', 'bhai']

In [13]:
name.count("ali") # count element in the list

1

In [15]:
name.index("abu") #find index of the element

8

In [16]:
name1=name.copy() # copy banany k liye

In [17]:
name1

['muddassir',
 'ali',
 'uni',
 'rana',
 'fahad',
 'waqas',
 'indus',
 'ami',
 'abu',
 'bhai']

In [18]:
name.clear() # clear the list permentally

In [19]:
name

[]

In [20]:
del name1[2] # for deleting index in the list

In [21]:
name1

['muddassir', 'ali', 'rana', 'fahad', 'waqas', 'indus', 'ami', 'abu', 'bhai']

In [22]:
name1.remove("rana") # remove element in  the list

In [23]:
name1

['muddassir', 'ali', 'fahad', 'waqas', 'indus', 'ami', 'abu', 'bhai']

In [24]:
name1.sort()

In [25]:
name1

['abu', 'ali', 'ami', 'bhai', 'fahad', 'indus', 'muddassir', 'waqas']

In [26]:
name1.reverse()

In [27]:
name1

['waqas', 'muddassir', 'indus', 'fahad', 'bhai', 'ami', 'ali', 'abu']

In [37]:
num[0:4]

[1, 2, 3, 4]

In [38]:
name1[0:5]

['waqas', 'muddassir', 'indus', 'fahad', 'bhai']

# tuple

In [39]:
bike=("yamaha","superpo\wer","honda")

In [40]:
mixx=(1,"ali",2.5,"rana")

In [41]:
mixx

(1, 'ali', 2.5, 'rana')

In [42]:
len(bike)

3

In [43]:
bike[2]

'honda'

# loops

In [48]:
a="ali"
for a in range (10):
    print("ali")

ali
ali
ali
ali
ali
ali
ali
ali
ali
ali

In [50]:
# num=[1,2,3,4,5,6,7,8,9]
for num in range (10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [51]:
for num in range (1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [52]:
for num in range (0,12,2):
    print(num)

0
2
4
6
8
10

In [54]:

for name in names:
    print("the name is {name}")

the name is {name}
the name is {name}
the name is {name}
the name is {name}

In [55]:
no=[18,21,33,47,55,62]
for num in no:
    print(num)

18
21
33
47
55
62

In [57]:
names=["ali","rana","hamza","fuei"]
for name in names:
print(name)

ali
rana
hamza
fuei

In [58]:
country="pakistan","india"
for char in country:
    print(char)

pakistan
india

In [60]:
for num in range (13):
    if num==5:
        break
    print(num)

0
1
2
3
4

In [67]:
for num in [13,5,7,9,14]:
    if num %6!=1:
        break
    print(num)

13

In [66]:
#continue keyword
for num in range(11):
    if num==3 or num==8:
        continue
    print(num)

0
1
2
4
5
6
7
9
10

In [15]:
for a in range (10):
    print("ali rana rajput")

ali rana rajput
ali rana rajput
ali rana rajput
ali rana rajput
ali rana rajput
ali rana rajput
ali rana rajput
ali rana rajput
ali rana rajput
ali rana rajput

In [16]:
con="pakistan"
for char in con:
    print(char)

p
a
k
i
s
t
a
n

# break in loop

In [25]:
for num in range (20):
    if num ==9:
        break
    print(num)

0
1
2
3
4
5
6
7
8

In [1]:
for num in range(15):
    if num==5 or num==9:
        continue
    print(num)

0
1
2
3
4
6
7
8
10
11
12
13
14

# nested loop

In [10]:
tables = int(input("enter a num"))
for table in range (1, tables+1):
    for num in range (1,11):
        print(f"{table}*{num}={table*num}")

enter a num2
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [12]:
#with out nested loop single table print

In [15]:
table=int(input("enter a num"))
for a in range(1,11):
    print(f"{table}*{a}={table*a}")

enter a num4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [16]:
name=["muddassir","fahad","shamshad"]
sirname=["ali","rana","rajput"]
for x in name:
    for y in sirname:
        print(x,y)

muddassir ali
muddassir rana
muddassir rajput
fahad ali
fahad rana
fahad rajput
shamshad ali
shamshad rana
shamshad rajput

In [19]:
for a in range(3):
    for char in "ali":
        print(a,char)

0 a
0 l
0 i
1 a
1 l
1 i
2 a
2 l
2 i

# type casting

In [21]:
a=int(input("enter a num  "))
b=float(input("enter a number  "))

enter a num  2
enter a number  33

# changing case of string

In [23]:
name="muddassir ali rana"
print(name)

muddassir ali rana

In [24]:
type(name)

str

In [25]:
name.upper()

'MUDDASSIR ALI RANA'

In [26]:
name.title()

'Muddassir Ali Rana'

In [27]:
name.lower()

'muddassir ali rana'

# dictioneries

In [29]:
mydic={"name":"ali","age":21,"city":"karachi"} #create a dictioneries

In [30]:
mydic["name"] #access a key

'ali'

In [31]:
mydic["email"]="abc@email.com" # adding a new key bin dic

In [32]:
print(mydic)  #printong dictionieries

{'name': 'ali', 'age': 21, 'city': 'karachi', 'email': 'abc@email.com'}

In [34]:
del mydic["age"] #  delete a key and  value in the dic

In [35]:
mydic

{'name': 'ali', 'city': 'karachi', 'email': 'abc@email.com'}

In [36]:
# update a key 

mydic["name"]="rana"

In [37]:
mydic

{'name': 'rana', 'city': 'karachi', 'email': 'abc@email.com'}

In [38]:
"name" in mydic  # check availablity

True

In [1]:
# user se value le kar dic main add karwana

dic={}

k=input("new key")
v=input("new value")
dic[k]=v
print(dic)

new key2
new value2
{'2': '2'}

In [2]:
city={}
k=input("key")
v=input("value")
city[k]=v
print(city)

keyname
valuekarachi
{'name': 'karachi'}

In [5]:
# while loop k zarye input se value lena
city1={}    

while True:
    k = input("key")
    v = input("value")
    if k == "no"  or v=="no":
        break
    city1[k]=v
print(city1)

keyname
valuekarachi
keyno
value2
{'name': 'karachi'}

In [10]:
#

database=["muddassir","shamshad",1,"AI"],["fahad","shamshad",2,"cnn"]
for r in database:
    card="""
    PIAIC CARD
    NEME:{0}
    F.NAME:{1}
    ROLL NO:{2}
    COURSE:{3} """
    print(card)

    PIAIC CARD
    NEME:{0}
    F.NAME:{1}
    ROLL NO:{2}
    COURSE:{3}

    PIAIC CARD
    NEME:{0}
    F.NAME:{1}
    ROLL NO:{2}
    COURSE:{3}

# function

In [11]:
# method of function creating
def add():
    print(12+2)

In [12]:
#calling function
add()

14

In [15]:
# passing information argument

def sub(no1 , no2):  #parameter
    print(no1+no2)

In [17]:
sub(2,5)    #argument

7

In [18]:
sub(3,3)   #signature maloom karne k liye (|) shift+tab   function ka

6

In [4]:
#function passing information keyword argument

def add(no1,no2):
    print(no1+no2)

add(no1=4,no2=5)  # key argument

9

In [5]:
#defulat parameter

def fullname(first,middle,last):
    print(first+middle+last)

In [17]:
fullname("ali",  "rana", "ali" )

aliranaali

In [21]:
def ice_creame(size,flavour,*scope):
    print(f"your size   {size},  flavour  {flavour}, and scope   {scope}, is ready")

In [22]:
ice_creame("large","mix","1 vanila","1 choclate","2 tutifruti")

your size   large,  flavour  mix, and scope   ('1 vanila', '1 choclate', '2 tutifruti'), is ready

In [24]:
#function ko passing information  value ko return karwany k liye
def add(val1,val2):
    ans=val1+val2
    return ans,"hello rana"
    print("after return")

In [25]:
add(2,5)

(7, 'hello rana')

In [29]:
#using function as variable
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
ans= add(2,4) + sub(9,1)

In [30]:
sub(2,4)

-2

In [33]:
def happy():
    name="ali"
    print(f"mr {name},is happy toady")

In [34]:
happy()

mr ali,is happy toady

In [39]:
def sad():
    another="rana"
    print(f"mr {another},is sad today")

In [40]:
sad()

mr rana,is sad today

# function with in the function

In [61]:
def cammition_cal(sales):
    if sales > 100:
        return sales*100
    elif sales > 50:
        return sales*50
    else:
        return 0
def salery_cal(basic,sales):
    grossalary =basic + cammition_cal(sales)
    print(f"your salary is {grossalary}")

In [62]:
salery_cal(5000,150)

your salary is 20000

# while loop

In [1]:
print("ali")

ali

In [2]:
a=0
while a<10:
    print(a,"while")
    a+=1

0 while
1 while
2 while
3 while
4 while
5 while
6 while
7 while
8 while
9 while

In [3]:
for num in range (10):
    print(num,"ali")

0 ali
1 ali
2 ali
3 ali
4 ali
5 ali
6 ali
7 ali
8 ali
9 ali

In [ ]:
a=0
while a<10:
    userinput=input("plese enter fav food")
    a+=1

In [ ]:
#flagh setting
flag = True
favfood=[]
while flag:
    userinput=input("fav food   ")
    if userinput=="q":
        flag=False
    else:
        favfood.append(userinput)
favfood

In [2]:
def add():
    print(2+4)

In [3]:
add()

6