In [1]:
print("muddassir ali")

muddassir ali

In [2]:
print(1234)

1234

In [3]:
print(2+2)

4

In [7]:
print("ali rana ","ali",sep="#")

ali rana #ali

In [8]:
print("fahad","rana")
print("ali","rana", end="\t")
print("fahad","rana")
print("fahad","rana")

fahad rana
ali rana	fahad rana
fahad rana

In [9]:
a=10
print(a)
type (a)

10

int

In [10]:
b=10.6
print(b)
type (b)

10.6

float

In [11]:
c="ali"
print(c)
type (c)

ali

str

In [13]:
a="muddassir"
b=" ali"
c=a+b
print(c)
type(c)

muddassir ali

str

In [15]:
a=20,34,45, 3.4
print(a)

(20, 34, 45, 3.4)

In [16]:
a=20
b=40
result= a+b
print(result)

60

In [17]:
a=20
b=40
result= a-b
print(result)

-20

In [18]:
a=20
b=40
result= a/b
print(result)

0.5

In [19]:
a=20
b=40
result= a*b
print(result)

800

In [20]:
a=10
b=6
if b>a :
    print("b greter than a")
if b<a:
    print("b is less than a")
print("pakistan")

b is less than a
pakistan

In [21]:
print("wellcome ")
input("please enter name")

wellcome
please enter namemuddassir

'muddassir'

In [22]:
name=["ali","fahad","rana","ahmed"]
num=[23,656,76,87,90]
mix=["ali",23,2.8]

In [23]:
print(name)
print(num)
print(mix)

['ali', 'fahad', 'rana', 'ahmed']
[23, 656, 76, 87, 90]
['ali', 23, 2.8]

In [24]:
len(name)

4

In [25]:
name.append("sham")

In [26]:
name

['ali', 'fahad', 'rana', 'ahmed', 'sham']

In [27]:
name.extend(["ali","rana","ami"])

In [28]:
name

['ali', 'fahad', 'rana', 'ahmed', 'sham', 'ali', 'rana', 'ami']

In [29]:
name.remove("ami")

In [30]:
name

['ali', 'fahad', 'rana', 'ahmed', 'sham', 'ali', 'rana']

In [32]:
name.reverse()

In [33]:
name

['rana', 'ali', 'sham', 'ahmed', 'rana', 'fahad', 'ali']

In [35]:
name.pop()

'ali'

In [36]:
name.pop()

'fahad'

In [37]:
name.count("ali")

1

In [38]:
name.copy()

['rana', 'ali', 'sham', 'ahmed', 'rana']

In [39]:
name1=name.copy()

In [40]:
name1

['rana', 'ali', 'sham', 'ahmed', 'rana']

In [41]:
name1.clear()

In [42]:
name1

[]

In [5]:
name.index("ali")

NameError: name 'name' is not defined

In [3]:
name

NameError: name 'name' is not defined

In [6]:
print("ali")

ali

In [7]:
print("tuple")
city=("khi","lohor","pindi","multan")

tuple

In [8]:
city

('khi', 'lohor', 'pindi', 'multan')

In [9]:
len(city)

4

In [10]:
a=(1,"ali",2.7)

In [11]:
a

(1, 'ali', 2.7)

In [12]:
a[2]

2.7

In [15]:
loop

a="ali"
for a in range(6):
    print("ali")

NameError: name 'loop' is not defined

In [16]:
a
for a in range(8):
    print("ali")

ali
ali
ali
ali
ali
ali
ali
ali

In [17]:
a="ali"
for a in range(8):
    print(a)

0
1
2
3
4
5
6
7

In [18]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [20]:
names=["ali","rana"]
for name in names:
    print(f"the name is{names}")

the name is['ali', 'rana']
the name is['ali', 'rana']

In [23]:
names=["ali","rana"]
for name in names:
    print(name)

ali
rana

In [22]:
names=["ali","rana","hamza","fuei"]
for name in names:
    print(name)

ali
rana
hamza
fuei

In [25]:
for num in range(20):
    if num==8:
        break
    print (num)

0
1
2
3
4
5
6
7

In [27]:
for num in range(11):
    if num==5 or num==9:
        continue
    print(num)

0
1
2
3
4
6
7
8
10

In [1]:
name="pakistana"
for char in name:
    print(char)

p
a
k
i
s
t
a
n
a

In [2]:
table=int(input("num"))
for table in range (1,table+1):
    for num in range(1,11):
        print(f"{table}*{num}={table*num}")

num2
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [3]:
table=int(input("enter a number"))
for num in range (1,11):
    print(f"{table}*{num}={table*num}")

enter a number2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [4]:
name=["muddassir","fahad"]
fname=["shamshad","shamshad ali"]
for x in name:
    for y in fname:
        print(x,y)

muddassir shamshad
muddassir shamshad ali
fahad shamshad
fahad shamshad ali

In [5]:
for a in range(4):
    for char in "ali":
        print(a,char)

0 a
0 l
0 i
1 a
1 l
1 i
2 a
2 l
2 i
3 a
3 l
3 i

In [ ]:


a=int(input("num"))
b=float(input("num"))
print(a,b)

In [1]:
print("ali")

ali

In [3]:

a=int(input("num"))
b=float(input("num"))
print(a,b)

num2
num20
2 20.0

In [4]:
name="muddassir ali raNa"
print (name)

muddassir ali raNa

In [5]:
type(name)

str

In [6]:
name.capitalize()

'Muddassir ali rana'

In [7]:
name.upper()

'MUDDASSIR ALI RANA'

In [9]:
name.title()

'Muddassir Ali Rana'

In [10]:
name.lower()

'muddassir ali rana'

In [11]:
name.casefold()

'muddassir ali rana'

In [13]:
name.expandtabs()

'muddassir ali raNa'

In [14]:
dic={"name":"ali","age":20,"cast":"rajput"}
dic

{'name': 'ali', 'age': 20, 'cast': 'rajput'}

In [15]:
dic["email"]="anc@mail.com"

In [17]:
dic

{'name': 'ali', 'age': 20, 'cast': 'rajput', 'email': 'anc@mail.com'}

In [21]:
dic["name"]="rana"

In [22]:
dic

{'name': 'rana', 'age': 20, 'cast': 'rajput', 'email': 'anc@mail.com'}

In [24]:
dic["name"]

'rana'

In [25]:
del dic["cast"]

In [26]:
dic

{'name': 'rana', 'age': 20, 'email': 'anc@mail.com'}

In [28]:
"name" in dic

True

In [29]:
ndic={}
k=input("enter a key")
v=input("enter a value")
ndic[k]=v

enter a keyname
enter a valueali

In [30]:
ndic

{'name': 'ali'}

In [31]:
city={}
while True:
    k=input("enter a key")
    v=input("enter a value")
    if k=="no" or v=="no":
        break
    city[k]=v
print(city)

enter a keykarachi
enter a valuesurjani
enter a keyno
enter a valueno
{'karachi': 'surjani'}

In [ ]:
database=["rana","ali",21,"iot"],["fahad","ali",22,"Ai"]
for r in database:
    print=(f"PIAIC CARD,name:= {database,0} ,Fname:={database,1},roll no:={database,2},course:={database,3}")
print(card)

In [33]:
database=["muddassir","shamshad",1,"AI"],["fahad","shamshad",2,"cnn"]
for r in database:
    card="""
    PIAIC CARD
    NEME:{0}
    F.NAME:{1}
    ROLL NO:{2}
    COURSE:{3} """
    print(card)

    PIAIC CARD
    NEME:{0}
    F.NAME:{1}
    ROLL NO:{2}
    COURSE:{3}

    PIAIC CARD
    NEME:{0}
    F.NAME:{1}
    ROLL NO:{2}
    COURSE:{3}

In [40]:
database=["rana","ali",21,"iot"],["fahad","ali",22,"Ai"]
for r in database:
    print=(f"PIAIC CARD,name:= {database,0} ,Fname:={database,1},roll no:={database,2},course:={database,3}")
print(card)

TypeError: 'str' object is not callable

TypeError: 'str' object is not callable