In [1]:
for i in range(10):
    if i==5:
        break
    else:
        print(i)
else:
    print("here")

0
1
2
3
4

In [6]:
mydic={1"a",2"d"}
print(mydic)

SyntaxError: invalid syntax (<ipython-input-6-6203241d17cb>, line 1)

string = "my name is x"

for i in string.split():

In [8]:
string = "my name is x"
for i in string.split():
    print(i, end=(", "))

my, name, is, x,

In [10]:
_str_=1
print(_str_)

1

In [11]:
_a=1
__a=1
print(_a)
print(__a)

1
1

In [12]:
numbers={}
letter={}
comb={}
numbers[1]=56
numbers[3]=7
letter[4]="b"
comb["numbers"]=numbers
comb["letter"]=letter
print(comb)

{'numbers': {1: 56, 3: 7}, 'letter': {4: 'b'}}

In [13]:
d={40:"john",45:"ali"}
j={"john":40,"ali":45}
o={}
print(d)
print(j)
print(o)

{40: 'john', 45: 'ali'}
{'john': 40, 'ali': 45}
{}

In [14]:
a={1:5,2:3,3:4}
a.pop(3)
print(a)

{1: 5, 2: 3}

In [16]:
j={"john":40,"peeter":45}
"john"in j

True

str="hello"

In [17]:
str="hello"
str[:2]

'he'

In [18]:
a={1:"a",2:"b",4:"e"}
print (a)

{1: 'a', 2: 'b', 4: 'e'}

In [19]:
a={1:"a",2:"b",4:"e"}
del a

In [20]:
print(a)

NameError: name 'a' is not defined

In [21]:
j={"john":40,"ali":45}

In [22]:
print(j)

{'john': 40, 'ali': 45}

In [23]:
x=1/2.0+3//3+4**1
print(x)

5.5

In [24]:
d = {"john":40, "peter":45}
d["john"]

40

In [26]:
l1=[1,3,2]
l2=l1*2
print(l2)

[1, 3, 2, 1, 3, 2]

In [1]:
numbers=[1,2,3,4]
numbers.append([5,6,7,8])
print(len(numbers))

5

In [2]:
x=1
y=2
z=x 
x=y 
y=z
print(x,y)

2 1

In [3]:
lst=[1,2,3,4]
print(lst[-3:-2])

[2]

In [4]:
a=16
b=15
a%b//a

0

In [5]:
s1=[3,4]
s2=[1,2]
s3=list()
i=0
j=0
for i in s1:
    for j in s2:
        s3.append((i,j))
        i+=1
        j+=1
print(s3)

[(3, 1), (4, 2), (4, 1), (5, 2)]

In [6]:
a={}
a[1]=1
a['1']=2
a[1]=a[1]+1
count=0
for i in a:
    count +=a[i]
print(count)

4